## Cryptography requirements
secretpy
cryptography==46.0.*

## Steganography requirements
stegano
invisible-watermark
reedsolo
### hstego requirements
pycryptodome
git+https://github.com/daniellerch/hstego.git@master